html,
body {
  margin: 0;
  padding: 0;
}

.layout-container {
  width: 100%;
}

.layout-nav-title {
  font-size: 16px;
}

.layout-avatar {
  width: 2.5rem;
  height: 2.5rem;
  background: #666666;
  border-radius: 50%;
  object-fit: cover;
}

.layout-offcanvas-header {
  height: 56px;
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ffffff;
}

.content {
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
