.chart-container {
  height: 600px;
  overflow: hidden;
}

@media (max-width: 992px) {
  .chart-container {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .chart-container {
    height: 250px;
    padding: 1rem !important;
  }
}

.dashboard-container .chart-container canvas {
  height: 100% !important;
  width: 100% !important;
  max-height: 100%;
  max-width: 100%;
}

.dashboard-container {
  a {
    font-weight: 600 !important;
    color: #a193ff !important;
  }

  a:hover {
    font-weight: 600 !important;
    color: #b4a9ff !important;
  }
}
